@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.burger_btn {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}
.burger_menu {
  height: 200px;
  width: 250px;
  padding: 0 25px;
  position: absolute;
  background-color: white;
  left: 45%;
  top: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}
.burger_activate {
  display: flex;
}

/* header */
header {
  background: white;
  height: 80px;
}
header img {
  height: 30px;
}
nav {
  width: 1300px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.reg_button {
  width: 173px;
  height: 46px;
  font-size: 17px;
  background-color: #4caf4f;
  border: none;
  font-weight: medium;
  color: white;
  border-radius: 3px;
  padding: auto;
  cursor: pointer;
}
.nav-menu a {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: medium;
  transition: 50px;
}
.nav-menu a:hover {
  color: black;
  transition: 50px;
}
/* CONTENT */
/* block 1 */

.block1 {
  height: 700px;
  background-color: #f5f7fa;
}
.content {
  width: 1300px;
  margin: 0 auto;
}
.block1 .content_left {
  margin-top: 18%;
}
.block1 .content_right {
  margin-top: 10%;
}
.block1 .content_right img {
  height: 450px;
}
.block1 .content {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 45px;
  color: #4d4d4d;
}
.primaryGreen {
  color: #4caf4f !important;
  font-weight: bold;
}
.under_title_text {
  font-size: 16px;
  color: #4d4d4d;
  margin-top: 10px;
}
.block1 button {
  margin-top: 20px;
  font-size: 17px;
  background-color: #4caf4f;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 30px;
}

/* block2 */

.block2 {
  margin-top: 110px;
  text-align: center;
}
.block2 h2 {
  font-size: 35px;
  color: #4d4d4d;
}
.block2 p {
  font-size: 20px;
  margin-top: 10px;
  color: #4d4d4d;
  margin: 0 auto;
}
.block2 .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.card_list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
}
.card {
  width: 250px;
  text-align: center;
  height: 260px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 5px 0px #abbed1c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.card h3 {
  font-size: 25px;
  width: 70%;
  margin: 0 auto;
}
.card p {
  font-size: 17px;
}
/* block 3 */

.block3 {
  margin-top: 200px;
}
.block3 img {
  height: 450px;
}
.block3 .content {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.block3 h2 {
  font-size: 35px;
  color: #4d4d4d;
}
.block3 p {
  font-size: 20px;
  margin-top: 10px;
  color: #4d4d4d;
  width: 700px;
}
.block3 button {
  margin-top: 30px;
  font-size: 17px;
  background-color: #4caf4f;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 30px;
}
/* block 4 */
.block4 {
  background-color: #f5f7fa;
  height: 400px;
  margin-top: 50px;
}
.block4 .content {
  display: flex;
  justify-content: space-between;
}
.block4 .content_left {
  margin-top: 130px;
}
.block4 .content_right {
  margin-top: 120px;
}
.info {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 30px;
  row-gap: 50px;
}
.info_element {
  display: flex;
  gap: 20px;
}
.info_element img {
  width: 50px;
}
.info_element h2 {
  font-size: 25px;
  color: #4d4d4d;
}
.info_element p {
  font-size: 17px;
  color: #4d4d4d;
}
/* block 5 */

.block5 .content {
  margin-top: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 100px;
}
.block5 img {
  height: 400px;
}

.block5 h2 {
  font-size: 35px;
  color: #4d4d4d;
}
.block5 p {
  font-size: 20px;
  margin-top: 10px;
  color: #4d4d4d;
  width: 700px;
}
.block5 button {
  margin-top: 30px;
  font-size: 17px;
  background-color: #4caf4f;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 30px;
}

/* block 6 */

.block6 {
  background-color: #f5f7fa;
  margin-top: 50px;
  color: #4d4d4d;
}
.block6 p {
  font-size: 18px;
}
.block6 h3 {
  margin: 20px 0;
  font-size: 22px;
}
.block6 .content_left img {
  height: 400px;
}
.block6 .content {
  padding-top: 30px;
}
.block6 .list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.block6 .content {
  display: flex;
}
.block6 .content .content_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
}
.light_green {
  color: #4caf4f;
}
/* block7 */
.block7 {
  text-align: center;
}
.block7 h2 {
  font-size: 35px;
  margin-top: 50px;
  color: #4d4d4d;
}
.block7 p {
  font-size: 20px;
  color: #4d4d4d;
  width: 700px;
  margin: 10px auto;
}
.block7 .img_list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.block7 .img_list img {
  height: 300px;
}
.block7 .list_element_text {
  width: 260px;
  height: 120px;
  border-radius: 5px;
  padding: 20px 30px;
  background-color: white;
  position: relative;
  bottom: 100px;
  margin-left: 33px;
  box-shadow: 0 2px 10px 2px #abbed1c2;
}
.block7 .list_element p {
  font-size: 21px;
  width: 270px;
}
.block7 a {
  text-decoration: none;
  font-size: 20px;
  color: #4caf4f;
}
/* block 8 */
.block8 {
  background-color: #f5f7fa;
  text-align: center;
}
.block8 .content {
  width: 600px;
  padding: 30px 0;
}
.block8 h1 {
  font-size: 55px;
}
.block8 button {
  margin-top: 30px;
  font-size: 17px;
  background-color: #4caf4f;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 15px 30px;
}
/* footer */
footer {
  background-color: #263238;
  color: #f5f7fa;
  padding: 55px 0;
}
footer a {
  color: #f5f7fa;
  text-decoration: none;
}
footer h3 {
  font-size: 22px;
}
footer img {
  height: 35px;
}
footer .text {
  margin: 40px 0;
}
footer .soc_links {
  display: flex;
  gap: 20px;
}
footer .soc_links button {
  width: 45px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background-color: #ffffff10;
}
footer .soc_links img {
  height: 22px;
}
footer .content {
  display: flex;
  justify-content: space-between;
}
footer .content_right {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
footer .content_right .column {
  display: flex;
  flex-direction: column;
}
footer .links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}
.column_2 {
  justify-content: space-between;
}
.column_1 {
  justify-content: space-between;
}
footer .column_3 {
  gap: 25px;
}
footer .input {
  display: inline-block;
  position: relative;
}
footer input {
  padding: 10px 10px;
  width: 200px;
  border: none;
  color: #f5f7fa;
  border-radius: 7px;
  background-color: #ffffff20;
}
footer .input button {
  position: absolute;
  right: 10px;
  top: 22%;
  background: none;
  border: none;
  cursor: pointer;
}
footer .input button img {
  height: 20px;
}

@media only screen and (max-width: 1400px) {
  nav {
    width: 1100px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content {
    width: 1100px;
  }
  .block7 .list_element img {
    height: 270px;
  }
  .block7 .list_element_text {
    margin-left: 13px;
  }
}
@media only screen and (max-width: 1200px) {
  nav {
    width: 900px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_links {
    display: none;
  }
  .burger_btn {
    display: block;
  }
  .content {
    width: 900px;
  }
  .block4 {
    height: auto;
    padding-bottom: 50px;
  }
  .block4 .content {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .block4 .content_left {
    margin-top: 50px;
  }
  .block4 .content_right {
    margin-top: 20px;
  }
  .block7 .img_list {
    display: flex;
    flex-direction: column;
  }
  .block7 .list_element_text {
    margin: 0 auto;
  }
  .block1 .content_left {
    padding-top: 90px;
  }
  .block1 .content_right img {
    height: 250px;
    margin-top: 100px;
  }
  p {
    max-width: 500px;
  }
  .block6 .list svg {
    display: none;
  }
}
@media only screen and (max-width: 1070px) {
  .block5 .content {
    gap: 0;
  }
  .block3 .content {
    gap: 0;
  }
}
@media only screen and (max-width: 960px) {
  .card_list {
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .block3 img {
    display: none;
  }
  .block3 {
    text-align: center;
    margin-top: 100px;
  }
  .block3 .content_right p {
    max-width: 700px !important;
    margin: 5px auto;
  }
  .block5 img {
    display: none;
  }
  .block5 {
    text-align: center;
    margin-top: 100px;
  }
  .block5 .content_right p {
    max-width: 700px !important;
    margin: 5px auto;
  }
  .block6 .content {
    flex-direction: column;
    text-align: center;
  }
  .block6 h3 {
    width: 500px;
  }
  .block6 .content_left img {
    height: 200px;
    margin: 0 auto;
  }
  .content {
    width: 700px;
  }
  nav {
    width: 700px;
  }
  footer .content {
    flex-direction: column;
    gap: 30px;
  }
}
@media only screen and (max-width: 730px) {
  .content {
    width: 600px;
  }
  nav {
    width: 600px;
  }
  .block3 {
    text-align: center;
    margin-top: 100px;
  }
  .block3 .content_right p {
    max-width: 500px !important;
    margin: 5px auto;
  }
  .block5 {
    text-align: center;
    margin-top: 100px;
  }
  .block5 .content_right p {
    max-width: 500px !important;
    margin: 5px auto;
  }
  .block6 h3 {
    width: 400px;
  }
  .block6 p {
    width: 400px;
  }
}
@media only screen and (max-width: 650px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 21px !important;
  }
  h3 {
    font-size: 21px !important;
  }
  .burger_menu {
    width: 100px;
  }
  .card_list {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .content {
    width: 500px;
  }
  nav {
    width: 500px;
  }
  .block3 {
    text-align: center;
    margin-top: 100px;
  }
  .block3 h2 {
    width: 350px;
  }
  .block3 .content_right p {
    max-width: 350px !important;
    margin: 5px auto;
  }
  .block5 {
    text-align: center;
    margin-top: 100px;
  }
  .block5 .content_right p {
    max-width: 350px !important;
    margin: 5px auto;
  }
  .block6 h3 {
    width: 300px;
  }
  .block6 p {
    width: 300px;
  }
  footer .content_right {
    gap: 10px;
  }
  .block8 h1 {
    font-size: 30px;
    width: 300px;
    margin: 0 auto;
  }
  .block8 .content {
    width: auto;
  }
  .block7 p {
    font-size: 16px;
    width: 350px;
  }
}
@media only screen and (max-width: 550px) {
  .content {
    width: 450px;
  }
  nav {
    width: 450px;
  }
}
@media only screen and (max-width: 450px) {
  .block1 img {
    display: none;
  }
  .block1 .content_left{
    margin: 0 auto;
    text-align: center;
  }
  .block1 p {
    width: 300px;
  }
  h1 {
    font-size: 21px !important;
  }
  .block4 .under_title_text {
    width: 300px;
  }
  .block4 img {
    height: 30px;
  }
  .block4 p {
    font-size: 15px;
  }
  .block4 h3 {
    font-size: 17px;
  }
  .content {
    width: 400px;
  }
  nav {
    width: 400px;
  }
  .logo img {
    height: 20px;
  }
  footer .content_right {
    flex-direction: column;
  }
  footer .input button {
    left: 4%;
  }
  .block6 h3 {
    width: 200px;
  }
  .block6 p {
    width: 200px;
  }
}
